<app-main-layout>
  <section *ngIf="post">
    <app-back-button />
    <app-post
      [post]="post"
      [user]="user"
      (setIsModalCommentFn)="setIsModalCommentFn($event)"
      (setPostFn)="setPostFn($event)"
    />
    <div class="mb-8"></div>

    <app-comment-modal
      [postId]="post._id"
      (setCommentsFn)="setCommentsFn($event)"
    />
    <div class="mb-4"></div>
    <div class="comments">
      <ng-container *ngFor="let comment of comments">
        <div class="border-t border-b border-slate-50 py-4 flex gap-2">
          <div class="avatar-sm"></div>
          <div>
            <h4 class="text-lg font-bold">
              {{ comment.username || user.username }}
            </h4>
            <p>{{ comment.comment }}</p>
          </div>
        </div>
      </ng-container>
    </div>
    <app-comment-modal
      *ngIf="isModalComment"
      [postId]="post._id"
      (setCommentsFn)="setCommentsFn($event)"
      (setIsModalCommentFn)="setIsModalCommentFn($event)"
    />
  </section>
</app-main-layout>
